header{
    background-color: #061D3F;
    font-family: bungee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.carrinho{
    width: 50px;
    height: auto;
    
}

body{
    color: white;
    background-color: black;
    font-family: bungee;
   
}

#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 40px;
    color: white;
    font-family: bungee;
    text-align: center;
    
    
}

h1{
    font-weight: 200;

}

.titulo{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    line-height: 10px;
}
aside{
    line-height: 10px;
    align-items: center;
    text-align: center;
}
span{
    color: black;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    height: 550px;
}

a:hover{
    transition: 0.3s all;
    color: blue;
    
}
#borda{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #185D9E;
    
}
footer{
    background-color: #061D3F;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    text-align: center;
}