body{
    background: rgb(45,68,181);
    background: linear-gradient(90deg, rgba(45,68,181,1) 0%, rgba(21,166,254,1) 100%);
    color: white;
    font-family: bungee;
    max-width:1200px ;
    margin:0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display:inline-block;
    margin: 20px;
}
a{
    color:white;
}
a:hover{
    color:#061D3F;
    transition: 0.3s all;
}
#inscreva-se{
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px;
}
#inscreva-se:hover{
    background-color: blue;
    color:white
}

h1{
    font-weight: 200; 
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: bungee;
}

span{
    color: rgb(71, 125, 95);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: bungee;
}

img{
    width: 500px;
    
}
.imagem{
    padding-left: 150px; 
    margin-top: -70px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;

}
form [type="submit"]{
    height:50px;
    width: 50%;
    background-color:rgb(71, 125, 95);
    color:white;
    font-weight: bold;

}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    font-size:15px;

}